/* Structure */
table {
  width: 90%;
  margin-left: 100px;
  margin-top: 20px;
  background-color: rgb(235, 202, 163);
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  margin-top: 20px;
  margin-left: 100px;
}


.mat-paginator{
  width: 90%;
  margin-left: 5.3%;

}